@charset "UTF-8";

@import url(menu/habugue.css);
@import url(menu/carrossel.css);
@import url(menu/topicos.css);
@import url(menu/contato.css);
@import url(menu/footer.css);

:root{
    --cor-de-fundo:#C4C4C4;
    --cor-branco:#FFFFFF;
    --cor-azul:#002F52;
    --cor-laranja:#EB9B00;
    --cor-azul-forte:#001627;
    --cor-cinza:#858585;
    --cor-cinza-escuro:#474646;
    --cor-preta-escuro:#000000;
    --font--poppi:"Poppins", sans-serif;
    --font-secudaria:"Josefin Sans", sans-serif;;
}

.menu__de__pesquisa{
    background-color: var(--cor-azul);
    height: 215px;
    color: var(--cor-branco);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu__de__pesquisa__titulo{
    font-family: var(--font--poppi);
    font-weight: 700;
    font-size: 1.1em;
    font-style: normal;
    padding-top: 32px;
    padding-bottom: 12px;
}
.menu__de__pesquisa__texto{
    text-align: center;
    font-family: var(--font--poppi);
    font-size: 1em;
    font-weight: 500;
    line-height: 1.5em;
}
.menu__de__pesquisa__inputs{
    width: 95vw;
    height: 44px;
    background-color: var(--cor-azul);
    border: 1px solid var(--cor-branco);
    border-radius: 24px;
    margin-top: 24px;
    color: var(--cor-branco);
}
.cabessalho__inicio__navegacao__menu{
    display: flex;
}
.menu__de__pesquisa__inputs::placeholder{
    color: var(--cor-branco);
    text-align: center;
    font-family: var(--font--poppi);
    font-weight: normal;
    font-weight: 400;
    font-size: 14px;
    background: url(img/Lupa.svg);
    background-repeat: no-repeat;
    background-position: 2.5em;
}
body{
    background-color: var(--cor-de-fundo);
    display: flex;
    flex-flow: column nowrap;
    font-family: var(--font--poppi);
    font-weight: 400;
    font-size: 16px;
}
.cabessalho__titulo{
    display: none;
}
.opcoes{
    display: none;
}
hr{
    margin: 0;
}
@media screen and (min-width: 1024px) {
    .cabessalho__titulo, .cabessalho__titulo__negrito{
        font-family: var(--font-secudaria);
        font-size: 1.8rem;
    }
    .cabessalho__titulo{
        font-weight: 300;
        display: block;
    }
    .cabessalho__titulo__negrito{
        font-weight: 700;
    }
    .favorito{
        display: none;
    }
    .opcoes{
    display: block;
    display: flex;
    }
    .opcoes__item{
        padding: 1em;
        text-transform: uppercase;
    }
    .opcoes__link{
        text-decoration: none;
        color: black;
    }
    .cabessalho__inicio__habuguer{
        display: none;
    }
    .lista__menu__texto{
        display: none;
    }
    .progrmacao{
        background-color: var(--cor-azul);
        color: var(--cor-branco);
    }
    .lista__menu{
        left: 37%;
        width: 16vw;
    }
    .menu__de__pesquisa__titulo{
        font-size: 2.25rem;
    }
    .menu__de__pesquisa__quebra{
        display: none;
    }
    .menu__de__pesquisa__inputs{
        width: 40vw;
    }
    .menu__de__pesquisa__inputs::placeholder{
        background-position: 7em;
    }
    .carrossel__titulo{
        display: none;
    }
    .carrossel__titulo__lancamento{
        display: block;
        text-align: center;
        font-size: 1.6rem;
        color: var(--cor-laranja);
        background-color: var(--cor-branco);
        padding: 2em 0 0.5em 0;
        font-weight: 700;
    }
    .swiper-button-prev, .swiper-button-next{
        display: block;
        top: 60%;
    }
    .swiper-pagination{
        margin: 2em 0 3em 0;
    }
    .swiper{
        width: 60%;
        margin-top: 20px;
    }
    .swiper-pagination{
        margin: 0 0 4em 0;
    }
    .card{
        width: 40%;
        margin: 2.5em auto;
    }
    .topicos{
        padding: 3em 0;
    }
    .topicos__titulo{
        font-size: 24px;
    }
    .topicos__link{
        font-size: 24px;
    }
    .contato{
        flex-direction:row;
        justify-content: center;
        align-items: center;
    }
    .contato__conteine{
        margin-right: 1em;
        width: 30%;
    }
    .cantato__titulo{
        font-size: 24px;
    }
    .contato__texto{
        font-size: 16px;
       
    }
    .contato__email{
        width: 30%;
    }
    .rodape__titulo{
        font-size: 24px;
        margin: 1.5em 0;
    }
    .lista-rodape{
    display: block;
    margin: 1.8em 0;
    }
    .rodape{
        display: flex;
        justify-content: space-around;
    }
    .lista-rodape__item{
        display: flex;
        align-items: center;
        margin: 1.6em 0;
    }
    .lista-rodape__link{
        text-decoration: none;
        color:var(--cor-cinza-escuro);
        font-size: 14px;
        margin-left: 0.6em;
    }
    .lista-rodape__titulo{
        color: var(--cor-cinza);
        font-size: 14px;
        margin-top: 2em;
    }
}